@charset "UTF-8";

/* MOspace_base CSS stylesheet, ported from the Iteration 2 mospace xmlui theme, adapted to the OSU base theme style */

/* begin ported MOspace theme */


* {
	margin: 0;
	padding: 0;
}

body {
	background: #2F405A url("../images/ms-bg.jpg") repeat-x scroll top;
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: normal;
}

/*******************************
 *****  General elements  ******
 *******************************/
a {
	color: rgb(51, 102, 153);
	word-wrap: break-word;
	overflow-wrap: break-word;
}

ul {
	margin-top: 10px;
	margin-bottom: 10px;
}

li {
	margin-left: 25px;
}

p {
	margin: 10px 20px 10px 0;
	line-height: 1.4em;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
	color: #000000;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-weight: 400;
	padding-top: .5em;
	padding-bottom: .2em;
}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.3em;
}

h4, h5, h6, h7, h8, h9 {
	font-size: 1.2em;
}

span.bold {
	font-weight: bolder;
}

span.italics,span.italic {
	font-style: italic;
}

span.underline {
	text-decoration: underline;
}

span.fade {
    color: #8b9ca5;
    font-size: 90%;
}

span.fade a {
    color: #8b9ca5;
    text-decoration: none;
}

span.fade a:hover {
    color: blue;
    text-decoration: underline;
}

span.warn {
    color: red;
    font-weight: bolder;
}

p.hidden, span.hidden {
    display: none;
}

.ds-text-field, .ds-textarea-field {
    width: 100%;
}

.ds-div-head {
	padding-bottom: 0;
}

ul.ds-options-list, ul.ds-options-list li ul.ds-simple-list {
	list-style-type: square;
}

/*******************************
*****  Major components  ******
*******************************/
div#ds-main {
		width: 960px;
		margin-left: auto;
		margin-right: auto;
		background: white;
}

ul#ds-trail {
/*		margin: 5px 0 10px 10px;
		float: right;
*/
}

div#ds-body {
		background: white;
		margin: 5px 10px 10px 10px;
		float: right;
		width: 760px;
		/* min-width:600px; */

}

div#ds-options {
		background: #eeeeee;
		float: left;
		width: 160px;
		overflow: hidden;
}

div#ds-footer {
		clear: both;
		margin: 100px 0 10px 0;
		padding-top: 40px;
		height: 100px;
		/*border-top: 1px solid #8b9ca5;*/
		background: #2F405A;
		text-align: center;
		color: #aaaaaa;
}

div.umsheaderlogo {
		width: 483px;
		float: left;
}

/* User box (login / profile) */
div#ds-user-box {
		float: right;
		text-align: right;
		margin: 40px 5px 0 0;
		padding: 0;
}

div#ds-user-box p {
		color: white;
}

div#ds-user-box a {
		text-decoration: none;
		color: white;
}

div#ds-user-box a:hover {
		text-decoration: underline;
}


/*******************************
**********  Header  ***********
*******************************/
div#ds-header {
		background: #eeeeee;
		height: 138px;
		width: 960px;
		margin: 0;
		padding: 0;
}

div#ds-header a span#ds-header-logo {
		width: 451px;
		height: 122px;
		float: left;
		background-image: url("../images/mospace-logo-with-arrow.gif");
		background-repeat: no-repeat;
		margin: 11px 0 0 53px;
}

div#ds-header a {
		text-decoration: none;
}

div#ds-header h1 {
		display: none;
}

div#ds-header h2 {
		display: none;
}

/* Trail */
ul#ds-trail li.ds-trail-link {
		list-style: none;
		display: inline;
		margin-left:0px;
}

ul#ds-trail li.ds-trail-link a:hover {
		text-decoration: underline;
}

ul#ds-trail li.ds-trail-link:after {
		content: " > ";
}


/*******************************
********  MOspace nav  ********
*******************************/
div#ds-header a span#ms-campus-pix {
		float: right;
		margin: 11px 12px 0 0;
		width: 428px;
		height: 98px;
		background: #eeeeee url("../images/ms-campus-pix.jpg") no-repeat;
}

div#ms-tagline {
	/*	position: absolute;
		top: 142px;
		left: 50%;
		margin: 0 0 0 -427px;*/
		margin: 80px 0 0 0;
		width: 451px;
		color: #999999;
		text-align: right;
		font-size: 8pt;
	/*	z-index: 10;*/
}

div#ms-navigation {
		position: absolute;
		top: 190px;
		left: 50%;
		margin: 0;
		width: 466px;
		font-weight: bold;
		text-align: right;
		z-index: 20;
}

ul#ms-navigation-list li.ms-navigation-link {
		list-style: none;
		display: inline;
		margin-left:0px;
		color: white;
}

ul#ms-navigation-list li.ms-navigation-link a:link, ul#ms-navigation-list li.ms-navigation-link a:visited {
		color: #999999;
		/*text-decoration: none;*/
}

ul#ms-navigation-list li.ms-navigation-link a:hover, ul#ms-navigation-list li.ms-navigation-link a:active {
		text-decoration: underline;
		color: #8097A5;
}

div#ms-addthis {
		margin: 80px 40px 0 0;
		text-align: right;
}

div.item_uri {
		font-size: 8pt;
		color: #999999;
		border: none;
		margin: 0 auto 2px auto;
		text-align: right;
		width: 90%;
}


/*******************************
*******  Options list  ********
*******************************/

div#ds-options h3 {
		color: white;
		font-size: 1em;
		font-family: Verdana, Arial, Helvetica, sans-serif;
}

div#ds-options h4 {
		color: black;
		font-size: 10pt;
		margin-top: 10px;

}

div#ds-options li {
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 10pt;
		margin-left: 15px;
}

div#ds-options div#artifactbrowser_Navigation_list_browse li {
		list-style: none;
		margin-left: 0px;
}

div#ds-options div#artifactbrowser_Navigation_list_browse ul ul li {
		list-style-image: url(../images/arrow.gif);
		margin-left: 15px;
}

div#ds-options div#artifactbrowser_Navigation_list_account ul li {
		list-style-image: url(../images/arrow.gif);
		margin-left: 15px;
}

div#ds-options div#artifactbrowser_Navigation_list_context ul li {
		list-style-image: url(../images/arrow.gif);
		margin-left: 15px;
}

div.ds-option-set {
		padding-left: 5px;
		margin-bottom: 30px;
}

.ds-option-set-head {
		background-color: #8097A5;
		font-weight: bold;
		color: white;
		padding-left: 5px;
}

/* search box, in the option list */
#ds-search-option-head {

}

h3 #ds-search-option-head .ds-option-set-head {
		border-bottom: none;
}

div#ds-search-option {
		/*background-color: #fefecd;*/
		padding-top: 2px;
		padding-bottom: 10px;
		padding-left: 2px;
		/*border-right: 6px solid #8b9ca5;*/
}

form#ds-search-form fieldset {
		border: none;
}

div#ds-search-option input.ds-text-field {
		width: 114px;
		font-size: 1em;
}

div#ds-search-option label {
		display: none;
}

div#ds-search-option a {
		font-weight: bold;
		font-size: .9em;
}

/*******************************
**********  Footer  ***********
*******************************/

div#ds-footer a span#ds-footer-logo {
		width: 250px;
		height: 250px;
		float: left;
		background-image: url("../images/manakin_logo.png");
		background-repeat: no-repeat;
		margin: 5px;
}

div#ds-footer a, div#ds-footer a:link, div#ds-footer a:visited {
		text-decoration: none;
		color: white;
}

div#ds-footer a:active, div#ds-footer a:hover {
		text-decoration: underline;
}


/*******************************
********  pagination  *********
*******************************/

div.pagination {
		position: relative;
		margin: 10px 20px 2px 20px;
}

div.pagination-masked {
		position: relative;
		margin: 10px 20px 10px 20px;
}

a.previous-page-link {
		position: absolute;
		left: 50px;
		bottom: 5px;
}

a.next-page-link {
		position: absolute;
		right: 50px;
		bottom: 5px;
}

p.pagination-info {
		position: relative;
		text-align: center;
		width: 50%;
		margin: 0 auto 5px auto;
}

ul.pagination-links {
		position: relative;
		text-align: center;
		width: 50%;
		margin: 0 auto 5px auto;
		padding: 0 0 0 0;
}

*.pagination-links li {
		list-style: none;
		display: inline;
		margin-right: 5px;
		font-weight: bolder;
		font-size: 90%;
}


/*******************************
******  Alphabet Lists  *******
*******************************/

ul.alphabet {
		text-align: center;
}

ul.alphabet li {
		list-style: none;
		display: inline;
		margin: 0 5px 0 5px;
		font-weight: bolder;
}

ul.alphabet a:hover {
		color: black;
}

/*******************************
******  Progress Lists  *******
*******************************/

ul.ds-progress-list {
		margin: 0px;
		padding-top: 2px;
		padding-bottom: 2px;
		text-align: center;
}

ul.ds-progress-list li {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-weight: bold;
		color: #8b9ca5;
		overflow: hidden;
		display: inline;
		line-height: 20px;
}

ul.ds-progress-list li.current.button {
		color: black;
		background-color: yellow;
}

ul.ds-progress-list li.arrow {
		font-size: 200%;
		font-weight: bold;
		position: relative;
		top: 6px;
}
.button input.ds-button-field {
	background: transparent;
    font-size: smaller
    border: 2px outset #aaa
    margin: 0
}


/*******************************
*******  Artifact List  *******
*******************************/

ul.ds-artifact-list {
		border: 1px solid #8b9ca5;
		list-style-type: none;
		width: 95%;
}

ul.ds-artifact-list li.odd {
		background-color: rgb(238, 238, 238);
}

ul.ds-artifact-list li.even {
		background-color: rgb(255, 255, 255);
}

ul.ds-artifact-list li {
		position: relative;
		padding-bottom: 3px;
		padding-top: 3px;
		margin: 0 0 0 0;
		padding: 2px 5px 2px 5px;

}

ul.ds-artifact-list li div.artifact-description {
		width: 80%;
}

ul.ds-artifact-list li div.artifact-preview {
		margin: -30px 0px 0 auto;
		width: 15%;
}

ul.ds-artifact-list li div.artifact-info {
		font-size: 110%;
		padding-left: 25px;
}

ul.ds-artifact-list li div.artifact-title {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 130%;
		font-weight: bolder;
}

span.date {
		font-style: italic;
}

/*******************************
*********  Tables  ************
*******************************/

table {
		clear: both;
		border-spacing: 0px;
		border: 1px solid #8b9ca5;
		width: 95%;
}

.ds-table {
	width: 100%;
	border-spacing: 2px;
}

.ds-includeSet-table {
	padding: 8px;
	background-color: #f6f4f4;
	border: 1px solid #ebe6e6;
	width: 760px;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.file-list {
	width: 95%;
}

tr.ds-table-header-row {
		color: inherit;
		background-color: rgb(218, 218, 218);
}

tr.ds-table-header-row.subheader {
		background-color: rgb(250, 250, 214);
}

th {
		padding: 4px 10px;
}

.subheader th {
		padding-left: 5px;
		font-weight: 100;
}

tr.ds-table-row.odd {
		color: inherit;
		background-color: rgb(238, 238, 238);
		padding: 3px, 10px, 5px, 10px;
}

tr.ds-table-row.even {
		color: inherit;
		background-color: rgb(255, 255, 255);
		padding: 3px, 10px, 5px, 10px;
}

td {
		padding: 3px 10px 5px 10px;
		border: none;
		font-size: inherit;
		background-color: inherit;
		color: inherit;
		word-wrap: break-word;
}

*.ds-table-cell {
		padding: 10px, 10px, 5px, 15px;
}

*.first-cell {
		vertical-align: middle;
		text-align: center;
}

.indent {
		padding-left: 35px;
		padding-right: 0;
}
.doubleIndent {
		padding-left: 55px;
		padding-right: 0;
}

th.indent {
		padding-left: 30px;
		padding-right: 0;
}
th.doubleIndent {
		padding-left: 50px;
		padding-right: 0;
}


/*******************************
***********  forms  ***********
*******************************/

form.ds-interactive-div {

		width: 95%;
}

form.ds-interactive-div li.ds-form-item {
		/*display: block; */
		padding: 2px 0;
		width: 100%;
}

form.ds-interactive-div li {
		margin: 0;
}

form.ds-interactive-div li.odd {
		background-color: rgb(238, 238, 238);
}

form.ds-interactive-div li.even {
		background-color: rgb(255, 255, 255);
}

form.ds-interactive-div li.last {
		border-top: 2px solid #8b9ca5;
		background-color: rgb(215, 215, 215);
}

li.ds-form-item {
		float: left;
		clear: both;
		width: 100%;
}

div.ds-form-content {
		float: left;
		clear: right;
		display: block;
		padding: 7px;
		width: 400px;
}

span.ds-form-label,label.ds-form-label {
		display: block;
		float: left;
		clear: left;
		padding: 5px 20px 5px 10px;
		width: 115px;
		font-weight: bold;
		vertical-align: middle;
		overflow: hidden;
}

/* Help, error, & in-line labels */
label.ds-composite-component {
		display: block;
		float: left;
		padding: 0px 5px 0 0px;
		font-size: 80%;
		color: black;
		background-color: inherit;
		text-align: left;
}

span.error {
		display: block;
		font-size: 100%;
		color: red;
		background-color: inherit;
		margin: 0;
}

span.field-help {
		display: block;
		margin-left: 5px;
		font-size: 90%;
		color: #8b9ca5;
		background-color: inherit;
}

input.error,textarea.error,select.error {
		color: inherit;
		background-color: rgb(255, 245, 245);
		border-color: red;
}

span.composite-help {
		display: block;
		font-size: 90%;
		color: #8b9ca5;
		background-color: inherit;
		text-align: left;
}

span.composite-help {
		display: block;
		font-size: 80%;
		color: black;
		background-color: inherit;
		text-align: left;
}

div.spacer {
		margin: 0;
		padding: 0;
		line-height: 0px;
		clear: both;
}


/* The composite field  */
span.ds-composite-field {
		display: table-row;
		padding: 2px;
}

*.ds-composite-field.ds-composite-component {
		display: table-cell;
		text-align: left;
		width: auto;
		padding-right: 10px;
}

*.ds-composite-field input,*.ds-composite-field textarea,*.ds-composite-field select {
		margin-right: 5px;
		margin-bottom: -2px;
}


/* Checkboxes and Radio buttons */
fieldset.ds-checkbox-field,fieldset.ds-radio-field {
		border: none;
		margin: 0;
		padding: 0;
}

fieldset.ds-checkbox-field legend,fieldset.ds-radio-field legend {
		display: none;
}

fieldset.ds-checkbox-field label,fieldset.ds-radio-field label {
		display: block;
}


/* Sub sections within a form */

fieldset.ds-form-list {
		border: 2px solid #8b9ca5;
		padding: 0;
		margin-left: 0;
		margin-right: 0;
}

fieldset.ds-form-list ol {
		padding: 0;
		margin: 0;
		width: 100%;
}

fieldset.ds-form-list legend {
		color: #336699;
		background-color: inherit;
		font-size: 115%;
		font-weight: bolder;
		margin-left: 10px;
}

fieldset.thick legend {
		color: #336699;
		padding-left: 10px;
		padding-right: 30px;
}

fieldset.ds-form-sublist {
		border: 1px solid rgb(238, 238, 238);
		padding: 0;
		margin: 5px;
}

fieldset.ds-form-list ol {
		list-style-type: none;
}



/*******************************
*   Rules for specific pages  *
*******************************/

/** Front page */
div#other-repositories, .other-repositories {
		float: right;
		width: 410px;
}

/** Search box in main area of front page */
input#aspect_artifactbrowser_FrontPageSearch_field_query.ds-text-field {
        width: 500px;
}


/** Search box on community pages */
input#aspect_artifactbrowser_CollectionViewer_field_query.ds-text-field {
		width:90%;
}

/** jump to box on browse */
input#aspect_artifactbrowser_ConfigurableBrowse_field_starts_with.ds-text-field {
		width: 30em;
}

/** Browse list for community pages */
.collection-browse {
		margin:0 0 10px 0;
		text-indent:0;
}


/************** FIXME: this is not working, but really ought to, figure out why */

/** Community browse, the community names should have a hanging indent */
a.communitySummaryListAnchorDIM {
		/*margin-left: 10px;*/
		/*text-indent: -100px;*/
}

/** Navigation bar for browse-by pages */
form.navigation {
		max-width: 750px;
		margin: 0 auto 0 auto;
		border: 1px solid #8b9ca5;
		background-color: rgb(238, 238, 238);
}

form.navigation p {
		text-align: center;
}

/* System wide alerts */
div#ds-system-wide-alert {
		background-color: rgb(255,240,220);
		border: 2px solid rgb(213,80,40);
		padding: 6px;
		margin: 10px 30px 10px 30px;
		color: rgb(213, 80, 40);
}

/* License text, used during submission to show a license */
div.license-text {
		border: 1px solid #666;
		background-color: #EEE;
		padding: 20px;
		margin: 20px;
		margin-top: 5px;
		font-family: monospace;
		font-size: 125%;
}

/** System generated notices, typicaly these follow any action in the administrative section. */
div.notice {
		background-color: rgb(238, 238, 238);
		border: 2px solid #8b9ca5;
		padding: 0;
		text-align: center;
		margin: 10px 30px 10px 30px;
}


/** Community & Collection homepage */

div.search-browse {
		border: 2px solid #8b9ca5;
		background-color: rgb(238,238,238);
		padding: 0px 5px 0px 10px;
		width: 450px;
}

div.detail-view div.ds-logo-wrapper {
		text-align: center;
		/*margin-right: 30px;*/
		float: right;
		margin: -200px 30px 0px auto;
}

div.detail-view p {
		clear: both;
		padding-top: 10px;
}

p.copyright-text {
		width: 90%;
		font-style: italic;
		text-align: center;
		margin: 0 auto 0 auto;
}


/** community browse accordion CSS, borrowed from the TAMU repository */

/*communities in dspace - browse communities and collections */
/*#aspect_artifactbrowser_CommunityBrowser_div_comunity-browser li p*/
p.ListMinus, p.ListPlus, p.ListEmpty
{
    display: inline;
}
#aspect_artifactbrowser_CommunityBrowser_div_comunity-browser ul,
#aspect_artifactbrowser_CommunityBrowser_div_comunity-browser ol
{
    /*list-style: disc outside;*/
	list-style: none;
	margin: 7px;
	padding-left: 20px;
}
#aspect_artifactbrowser_CommunityBrowser_div_comunity-browser ul li,
#aspect_artifactbrowser_CommunityBrowser_div_comunity-browser ol li
{
	/*text-indent: -54px;*/
	padding: 0;
}

/*communities in dspace - browse communities and collections - further down */
#aspect_artifactbrowser_CommunityBrowser_div_comunity-browser ul li ul,
#aspect_artifactbrowser_CommunityBrowser_div_comunity-browser ol li ul
{
    /*list-style: circle outside;*/
	list-style: none;
    margin: 7px 14px;
}
#aspect_artifactbrowser_CommunityBrowser_div_comunity-browser ul li ul li,
#aspect_artifactbrowser_CommunityBrowser_div_comunity-browser ol li ul li,
#aspect_artifactbrowser_CommunityBrowser_div_comunity-browser ul li ul li ul li,
#aspect_artifactbrowser_CommunityBrowser_div_comunity-browser ol li ul li ul li,
#aspect_artifactbrowser_CommunityBrowser_div_comunity-browser ul li ul li ul li ul li,
#aspect_artifactbrowser_CommunityBrowser_div_comunity-browser ol li ul li ul li ul li,
{
	text-indent: 0;
	padding: 0;
}
/*communities in dspace - browse communities and collections - further still*/
#aspect_artifactbrowser_CommunityBrowser_div_comunity-browser ul li ul li ul,
#aspect_artifactbrowser_CommunityBrowser_div_comunity-browser ol li ul li ul
{
    /*list-style: square outside;*/
	list-style: none;
	margin: 7px 14px;
}

/* communities within this community */
#aspect_artifactbrowser_CommunityViewer_div_community-view ul li ul,
#aspect_artifactbrowser_CommunityViewer_div_community-view ol li ul,
#aspect_artifactbrowser_CommunityViewer_div_community-view ul li ul li ul,
#aspect_artifactbrowser_CommunityViewer_div_community-view ol li ul li ul
{
    list-style: none;
    margin: 3px 14px !important;
}

p#expand_all_clicker,
p#collapse_all_clicker
{
    background-color:#2E6DA2;
    border-bottom-color:white;
    border-bottom-style:outset;
    border-bottom-width:3px;
    
    border-left-color:white;
    border-left-style:outset;
    border-left-width:3px;
    
    border-right-color:white;
    border-right-style:outset;
    border-right-width:3px;
    
    border-top-color:white;
    border-top-style:outset;
    border-top-width:3px;
    
    text-align:center;
    color:white;
    padding-bottom:3px;
    padding-left:3px;
    padding-right:3px;
    padding-top:3px;
    width: 75px;
    cursor: pointer;
    margin-bottom: 6px;
}

p.ListPlus,
p.ListMinus
{
    cursor: pointer;
}

p.ListPlus,
p.ListMinus
{
    padding-bottom:0px;
    display: inline;
}

p.ListMinus
{
    padding-right: 2px;  
    padding-left: 2px;
}

li.indentCommunityList {
	margin-left: 60px;
	/*text-indent: -10px;*/
}

p.item-view-toggle {
	text-align: right;
	font-size: 8pt;
	margin: 0 40px 0 0;
}

p.item-view-toggle a {
	text-decoration: none;
}

p.item-view-toggle a:hover {
    text-decoration: underline;
}


/* end ported MOspace theme */




/******************************************** Keep from OSU ********************************************************/

#ds-feed-option li:before {
  position: relative;
  top: 0.25em;
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACRUlEQVQ4EQXB3WuVdQAA4Of3e99znO7YzmjbORguinaxMJqT0cRu7KaCoITopu6CvMtDCBEES/oHhhCEN1F0L0ifCGn2cVG40IUQ2aFOtImLEnPbeb/O2/OE7FXt5qwVqR6AiAiACAAosWE1HziTNmetmDve0zlC0iCmhEAMhEgMxICEgIC6YuPHXvOzC1Kpns4RsoTuEglu3+DvNWIkiYgkCJG6pjXFzCIzF3opSBrEMQ6fAJyg2ObXi9z8lOoeAnWNwL+3GLufEdEIIWVnk/Xz9L9le4vGOI++wLNnObAMCBQFw4IyJycVEQM7m/z8MTGQRqYWWHiFiVmeOMXaOW5eJCvJM4qKIVFERHeJFz/iqXd55Hnu9vnqTQZXgMXX6CyQZQxLipKcaAQJAY1xpud5/GWeOUv7Ia6+z++XgaOnqPcwLCgqhkQRAf9c4/PXuXqO7S0a+3jybVoPcGWVe7dotjj0HMOSYkROFBEjdWT3NoNLXHqLPy7T2MfR02jwzXvA4ZfYLckrclIjCCQ1y6dptBh8zdoHTM3T6tBd5PqXHP+Psf1MHqSsyIkg1kwf4sAS0/McPMbdO6yfBx4+xm5F/wfgwccoa3IiENjdotgBtn4jy/jrF6DVZVjw5w2guZeqoiSVoy5R8cUbNCYYXCMr6f/EhycpSnYrvvuE699TVuwfJ5K8M6etu3fZ5BzNFrHmvhkmOrQ7xEhMmOkyMcmeBklKf507m6she1q72bWiq2eEEkPkyDFEiRwlcqRoWh1uOPM/odbSwLyBNeIAAAAASUVORK5CYII=");
  margin-right: 0.25em; }

.ir {
  font: 0/0 a;
  text-shadow: none;
  color: transparent; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* TODO: add a nice printable logo of MOspace to this print-only section, use the ms-tagline div for this */
@media print {
  html {
    font-size: 100%;
    padding: 0;
    margin: 0; }
    html body #ms-campus-pix {
      display: none; }
    html body #ms-addthis {
      display: none; }
    html body #ds-main #ds-header {
      display: none; }
    html body #ds-main #ds-footer {
      display: none; }
    html body #ds-main #body-and-options {
      max-width: 100%; }
      html body #ds-main #body-and-options #ds-body {
        float: none;
        width: auto; }
        html body #ds-main #body-and-options #ds-body h1.ds-div-head {
          display: block;
          padding-left: 0;
          margin-left: 0;
          clear: both;
          padding: 0;
          margin: 0 0 10pt; }
        html body #ds-main #body-and-options #ds-body table {
          width: auto; }
      html body #ds-main #body-and-options #ds-options {
        display: none; }
      html body #ds-main #ds-footer {
        display: none; } }


/* these are tacked at the end, I'm not sure why, though they may be small tweaks to address quirks */

.reorder-up, .reorder-down {
  width: 30px;
  height: 30px; }

.ds-textarea-field, .submit-textarea, .ds-text-field, .navigation select, .browse select, .ds-select-field {
  width: 90%; }

#aspect_eperson_PasswordLogin_field_login_email {
  width: 206px; }

.small {
  font-size: 85%; }

input[type="radio"] {
  margin: 3px 0.5ex; }

.alert {
  clear: both; }


td.field-label {
	color:#8c8c8c;
	width:120px;
	display:block;
	float:left;
}
